@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

main {
  min-height: 90vh;
  padding: 10px;
}

a {
  color: #000000;
}

.App {
  max-width: 1200px;
  margin: auto;
}

header {
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #f2ebe9;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}
.logo img {
  max-width: 40px;
}

.logo span {
  font-size: 20px;
  padding: 5px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav .link {
  padding: 10px;
}

.nav .link.active {
  background-color: #f2ebe9;
  border-radius: 5px;
}

.nav .auth {
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff4747;
  color: #ffffff;
  cursor: pointer;
}

.nav .auth i {
  font-size: 14px;
  margin-right: 6px;
}

@media screen and (max-width: 480px) {
  .logo span {
    display: none;
  }
}

.card {
  border-radius: 5px;
  padding: 10px;
  box-shadow: #f2ebe9 0px 1px 4px;
  margin: 20px 5px;
}

.card .title {
  font-size: 20px;
  margin: 20px 5px;
  font-weight: 600;
}

.card .description {
  font-size: 16px;
  margin: 20px 5px;
}

.card .control {
  font-size: 16px;
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.card .author {
  font-size: 14px;
  font-weight: 500;
  background-color: #1c59ae13;
  padding: 5px 10px;
  border-radius: 5px;
}

.create .heading {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.createPost {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
}

.createPost .title {
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  box-shadow: #f2ebe9 0px 1px 4px;
}

.createPost .description {
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  box-shadow: #f2ebe9 0px 1px 4px;
  height: 300px;
}

.createPost button {
  font-size: 18px;
  margin: 10px 0px;
  padding: 15px 20px;
  background-color: #1c59ae;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.pageNotFound {
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.pageNotFound p {
  font-size: 24px;
  font-weight: 500;
  margin: 25px auto;
}

.pageNotFound img {
  border-radius: 5px;
  width: 100%;
  margin: 15px auto;
}

.pageNotFound button {
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #1c59ae;
  color: #ffffff;
  cursor: pointer;
}

footer {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #f2ebe9;
}

.no-posts {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15rem;
}

.login-screen h1 {
  word-spacing: 7px;
  letter-spacing: 8px;
  font-size: 40px;
  text-align: center;
}

.login-screen p {
  margin-top: 1.3rem;
  font-size: 18px;
  text-align: center;
}

.login-screen button {
  margin-top: 2rem;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: #ff4747;
  color: #ffffff;
  font-size: 1.4rem;
  cursor: pointer;
}

.login-screen button i {
  margin-right: 6px;
}
